<%= render "partials/navbar" %>

<div class="centered">
  <h2 class="login">Sign In!</h2>

  <form action="<%= session_url %>" method="post">
    <%= render "/helpers/auth" %>

    <div class="sign-up">
      <label for="username"> Username
        <input type="text" name="user[username]" value="">
      </label>
    </div>
    <br>
    <div class="sign-up">
      <label for="password"> Password
        <input type="password" name="user[password]" value="" class="pw">
      </label>
      <br>
    </div>
    <input type="submit" name="name" value="Sign In!" class="btn splash">
  </form>
  <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>
</div>
