/*.note-container {
  height: 100%;
}

.note-container > form {
  height: 95%;
  color: white;
}


#editor {
  width: 87%;
  position: absolute;
  left: 6%;
  top: 11%;
  height: 75%;
  outline: solid;
  background-color: #2C3E50;
}

.ProseMirror {
  border: none;
  height: 100%;
}

.ProseMirror-content {
  height: 95%;
  overflow-y: auto;
}

.ProseMirror-content > ul {
  list-style: initial;
}


.ProseMirror-menubar {
  min-height: 23px;
}


.ProseMirror-content > p {
  font-size: 12px;
}

.ProseMirror-content > blockquote ol li p{
  font-size: 11px;
}

.ProseMirror-content > blockquote ol li{
  font-size: 11px;
}

.ProseMirror-content ul {
  list-style: initial;
  font-size: 11px;
}

.ProseMirror-content li {
  font-size: 11px;
}

.ProseMirror-content > blockquote {
  font-size: 11px
}


.note-title {
  top: 2%;
  position: absolute;
  left: 6%;
  font-size: 50px;
  width: 85%;
  text-overflow: ellipsis;
  border-bottom: 3px solid white;
  width: 87%;
  padding: 6px;
}




input[type=button] {
  cursor: pointer;
}

.save {
  position: absolute;
  bottom: 4%;
  right: 8%;
  font-size: 15px;
}

pre {
  padding: 18px;
  background: #67809F;
}

code span {
  font-family:monospace;
  font-size: 10px;
  color: white;
}*/
