.note-container {
  height: 100%;
}

.note-container > form {
  height: 95%;
  color: white;
}


#editor {
  width: 87%;
  position: absolute;
  left: 6%;
  top: 11%;
  height: 75%;
  outline: solid;
}

.ProseMirror {
  border: none;
  height: 100%;
}

.ProseMirror-content {
  height: 96%;
  overflow-y: auto;
}

.ProseMirror-content > ul {
  list-style: initial;
}


.ProseMirror-menubar {
  min-height: 23px;
}
/*.quill {
  width: 87%;
  position: absolute;
  left: 6%;
  top: 11%;
  height: 80%;
  outline: solid;
}

.quill-contents {
  height: 95%
}*/

.note-title {
  top: 2%;
  position: absolute;
  left: 6%;
  font-size: 50px;
  width: 85%;
  text-overflow: ellipsis;
  border-bottom: 3px solid white;
  width: 87%;
  padding: 6px;
}




input[type=button] {
  cursor: pointer;
}

.save {
  position: absolute;
  bottom: 4%;
  right: 8%;
  font-size: 15px;
}

pre {
  padding: 18px;
  background: lavender;
}

code span {
  font-family:monospace;
  color: #657b83;
}

ProseMirror-content ul {
  list-style: initial;
}
