.notebook-form {
  /*outline: 3px solid white;*/
  // width: 37%;
  // left: 20%;
  // top: 3%;
  // position: absolute;
  padding: 42px;
}
//
// .new-notebook-form {
//   padding: 42px;
// }
//
// .new-notebook-form a {
//   position: relative;
//   padding: 10px auto;
//   width: 100%;
//   right: 0;
// }
//


//
// .notebook-form > .btn {
//   position: relative;
//   left: 4px;
//   top: 2px;
// }
//
//
// .user-logout {
//   padding: 10px;
//   width: 100%;
//   height: 11%;
// }
//
.edit-button {
  content: image-url('edit.png');
  height: 20px;
//   height: 15px;
// width: 15px;
// top: 12px;
// left: 19px;
// padding-left: 0px;
// padding-right: 0px;
// height: 15px;
// width: 15px;
/* position: absolute; */
padding: 0px;
}

.notebook-index-item {
  position: relative;
}

.trash-button {
  content: image-url('trash.png');
  height: 20px;
  cursor: pointer;
//   height: 15px;
// width: 15px;
// top: 12px;
// left: 30px;
//   cursor: pointer;
//   padding-left: 0px;
//   padding-right: 0px;
  // height: 15px;
  // width: 15px;
  /* position: absolute; */
  padding: 0px 0px 0px 5px;
}
// /*
//   position: absolute;
//   bottom: 8%;
//   left: -10px;
//   width: 85%;
// } */
//
// /*
.all-notes {
  padding: 40px 15px 0px 15px;
}

.new-notebook {
  padding: 30px 15px 0px 15px;
}


.nav-buttons > a:visited, a:link, a:active {
  // position: relative;
  // padding: 10px auto;
  // width: 100%;
  // right: 0;
  color: #D2D7D3;
  text-decoration: none !important;

}

.logout {
  color: #D2D7D3;
  padding: 15px 15px 0px 15px;
  text-align: center;
}
//
// .user-logout > span {
//   position: absolute;
//   left: 75px;
// }
//
// .user-logout > button {
//   position: relative;
//   width: 100%;
//   text-align: center;
// }
//
//
// .nav-button .logout {
//   position: absolute;
//   right: 31px;
// }
//
// .all-notes {
//   padding: 10px;
// }
//
// .all-notes a {
//   position: relative;
//   padding: 10px auto;
//   width: 100%;
//   right: 0;
// }

.notebook-desc {
  padding: 20px 10px 10px 10px;
  border-bottom: 3px solid white;
  width: 100%;
  font-size: 25px;
  color: #D2D7D3;
}

.tag-desc {
  padding: 0px 10px 10px 10px;
  border-bottom: 3px solid white;
  width: 100%;
  font-size: 25px;
  color: #D2D7D3;
}
//
//
.notebooks {
  padding: 10px;
  border-bottom: 1px solid #2C3E50;
  width: 98%;
  padding-left: 5px;
  margin-left: 2px !important;
}

button > .trash-button {
  padding-left: 0px;
}
//
// .nb-delete {
//   float: right;
// }
//
// .nb-btn  {
//   font-size: 12px;
// }
//
// .nb-btn:hover {
//   cursor: pointer;
// }
//
.notebook-index-item > .title {
  // padding: 10px 0px 10px 0px;
  // display: inline-block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  // width: 100%;
  padding-right: 0px;
}
//
//
.nav-notebook-list {
  height: 325px;
  overflow-y: scroll;
  padding: 5px;
  font-size: 15px;
  padding-top: 10px;
  // width: 102%;
  // top: 90px;
}
//
// .notes-list-col > li:after {
//   content: '';
//   clear: both;
//   display: block;
//
// }
//

.nav-button {
	border: 2px solid #fff;
	color: #fff;
  // position: absolute;
  outline: 1px solid white;
  width:100%;
}

/* Button 1a */
.nav-button:hover,
.nav-button:active {
	color: #34495E;
	background: #fff;
}
.nav-button {
  outline: 1px solid white;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	padding: 8px 10px;
	display: inline-block;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  font-size: 15px
}

.nav-button:after {
	// position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

//
// .buttons {
//   top: 93%;
//   position: absolute;
//   width: 100%;
// }
//
//
// /* new notebook form button */
//

.notebook-name-input {
  padding: 6px 6px;
}

.notebook-form > input {
  color: #D2D7D3;
  border: 2px solid white;
  position: static;
  font-size: 16px;
}


.new-notebook-button {
	border: 2px solid #fff;
	color: #D2D7D3;
  position: static;
  outline: 1px solid white;
  left: 9px;
  margin-left: 7px;
}

/* Button 1a */
.new-notebook-button:hover,
.new-notebook-button:active {
	color: #34495E;
	background: #fff;
}
.new-notebook-button {
  outline: 1px solid white;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	padding: 6px 6px;
	display: inline-block;
	letter-spacing: 1px;
	outline: none;
	/*position: relative;*/
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  font-size: 16px
}

.new-notebook-button:after {
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


/* notebooks selection */

.notebooks {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.notebooks.selected{
  color: #34495E;
	background: #fff;
}

.notebooks.selected > .notebook-index-item > .title {
  color: #34495E;
}

.notebooks:hover,
.notebooks:active {
  	color: #34495E;
  	background: #fff;
}
