.tag-list {
  color: white;
  position: absolute;
  bottom: 3%;
  left: 6%;
  list-style-type: none;
}

.nav-tag-list {
  top: 68%;
  height: 6%;
}

.nav-tag-list {
  top: 70%;
  position: absolute;
  width: 90%;
}
